body{
	background-color: rgb(190,190,190);
	font-family: "Arial";
	font-size: 12px;
	padding: 0;
	margin: 5px;
}
header{
	background-color: white;
	border: 1px black solid;
	text-align: left;
	height: 56px;
	margin-bottom: 5px;
}
header img{
	height: 100%;
	float: left;
	margin-right: 10px;
}
#page_title{
	font-size: 32px;
	font-weight: bold;
	font-family: "Arial";
	margin-left: 10px;
}

footer{
	background-color: white;
	border: 1px black solid;
	text-align: center;
	height: 18px;
	margin-top: 5px;
}

header nav{	font-size: 0px; }
header nav a{
	font-family: "Times New Roman";
	font-size: 16px;
	color: black;
	text-decoration: none;
	width: 150px;
	display: inline-block;
	text-align: center;
	border-left: 1px black solid;
}
header nav a:last-child{ border-right: 1px black solid; }
header nav a:hover{ background-color: rgb(190,190,190); }
footer nav{	font-size: 0px; }
footer nav a{
	font-family: "Times New Roman";
	font-size: 16px;
	color: black;
	text-decoration: none;
	width: 150px;
	display: inline-block;
	text-align: center;
	border-left: 1px black solid;
}
footer nav a:last-child{ border-right: 1px black solid; }
footer nav a:hover{ background-color: rgb(190,190,190); }


#left:empty{ visibility: hidden; }
#right:empty{ visibility: hidden; }
#left, #right{
	width: 280px;
	height: calc(100vh - 70px - 20px - 20px - 10px);
	border: 1px black solid;
	padding: 10px;
	background-color: white;
	overflow-y: scroll;
}
#left{
	float: left;
	margin-right: 5px;
}
#right{
	float: right;
	margin-left: 5px;
}

#left_nav{
	font-size: 24px;
	font-weight: bold;
	font-family: "Arial";
	text-align: center;
	display: block;
}
#left_nav + ul{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-weight: bold;
}
#left_nav + ul ul{
	list-style: disc;
	font-size: 16px;
	margin: 0;
	padding: 0;
	padding-left: 20px;
}
#left_nav + ul ul ul{
	list-style: disc;
	font-size: 12px;
	font-weight: normal;
}
#left_nav + ul a{
	color: black;
	text-decoration: none;
}
#left_nav + ul a:hover{	color: blue; }

#right_info{
	font-size: 24px;
	font-weight: bold;
	font-family: "Arial";
	text-align: center;
	display: block;
}

#content{
	background-color: white;
	border: 1px black solid;
	width: calc(100% - 2px - 634px);
	margin-left: 5px;
	margin-right: 5px;
	height: calc(100vh - 70px - 20px - 20px - 10px);
	overflow-y: scroll;
	padding: 10px;
}

p{
	margin: 0;
}